---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Jose Arciniegas - Portfolio.">
  <html data-theme="coffee">
    <main class="">
      <section class="hero min-h-screen" id="home">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center pb-10 flex-col lg:flex-row">
          <div class="max-w-md">
            <h1 class="color-primary text-5xl text-left">Junior Developer</h1>
            <p>
              My studies as a developer are based on learning Node.js, React, Astro, Tailwind, and more...
            </p>
			       
            <button></button>
          </div>
		  <img src="/Profile.webp" alt="profile-icon" class="rounded-full max-w-sm shadow-2xl max-h-60 sm:max-h-full">
        </div>
      </section>
      <div class="sm:m-20 px-6 sm:px-48">
        <section id="projects">
          <h2
            class="color-primary text-4xl sm:text-5xl text-center p-4 font-bold"
          >
            My projects...
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur, tempore ratione fugit voluptatum illo dicta velit,
            aliquam ad ea vel itaque? Ipsum numquam fuga possimus quis iste
            similique a earum.
          </p>
        </section>
        <section id="about-me">
          <h2
            class="color-primary text-4xl sm:text-5xl text-center p-4 font-bold"
          >
            About Me...
          </h2>
          <p>I'm a Junior Frontend Developer passionate about creating beautiful and intuitive web interfaces. I have experience with HTML, CSS, JavaScript, and TypeScript, and I am continuously learning to enhance my skills.</p>
       <h3 class="color-primary text-3xl sm:text-4xl p-4 font-bold pt-10">What technologies do I use?</h3>
	  

		</section>
      </div>
    </main>
  </html>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
